.jumbotron {
    background-color: red
}

body {
    background-color: #00cc99;

}
.display-4 {
    color: #ff00ff;
}

.lead {
    color: #9900cc;
}

#topic-form {
    color: #00cc99;
}

#topic-input {
    background-color: #ff5050;
    color: black;
    border-color: black;
}

.help {
    color: #ff5050;
    margin-top: 30px;
    padding: 10px;
}

#add-topic {
    background-color: #33ccff;
    color: #ff5050;
    border-color: black;
}

.topic {
    margin: 5px;
}

#footer {
    background-color: black;
}

p {
    font-weight: bold;
    font-size: 15px;
}

#gif-div {
    float: left;
}

.card {
    background-color: #00cc99;
    margin-bottom: 10px;
    border: solid black 2px;
}

.col {
    float: left;
}

